
<h1 id="page-header">VoterRank</h1>
<form>
    <p>
        <label for="fname">First name:</label>
        <br>
        <input type="text" id="fname" name="fname">
        <br>
    </p>
    <p>
        <label for="lname">Last name:</label>
        <br>
        <input type="text" id="lname" name="lname">
        <br />
    </p>
    <p>
        <label for="fname">Primary Email:</label>
        <br>
        <input type="text" id="email" name="email">
        <br>

        <label for="lname">State Driver's License #:</label>
        <br>
        <input type="text" id="license" name="license">
    </p>
    <p>
        <label for="lname">Expiration Date of Driver's License:</label>
        <br>
        <input type="text" id="expdate" name="expdate">
    </p>
    <p>
        <input type="radio" id="creator" name="creator" value="creator">
        <label for="creator">Creator</label>
        <br>
        <input type="radio" id="admin" name="admin" value="admin">
        <label for="admin">Administrator</label>
        <br>
        <input type="radio" id="candidate" name="candidate" value="candidate">
        <label for="candidate">Candidate</label>
        <input type="radio" id="voter" name="voter" value="voter">
        <label for="voter">Voter</label>

        <a asp-action="ThankYou">Submit</a>

    </p>
</form>
