<h1 style"font-size:55px">VoterRank</h1>
<br />
<div>
    <img src="https://st2.depositphotos.com/4038693/10695/v/450/depositphotos_106956954-stock-illustration-hand-putting-voting-paper.jpg" alt="VoterRank Online" class="center"/>
    <p style="margin-top:0.5rem;"class="center">A <span style="color:blue">better</span> way to vote!</p>
</div>
<br />
<br />
<div>
    <img src="https://d3n8a8pro7vhmx.cloudfront.net/fairvote/pages/18159/attachments/original/1536788058/The_Right_to_Vote.jpg?1536788058" alt="VoterRank gives more choices rather than A or B!" class="center" />
</div>
<br />
<h3>How VoterRank Came To Existence</h3>
<br />
<p>
    Started on the Year of the Covid-19 Virus, this site was created as a Course Project. The main idea behind the site was to take a different approach to voting. This gives more power to the voter along with more candidates choices. This process has been around for many years but only a few states know about it. This process goes by the name of Ranked-Choice Voting!
</p>
<br />
<img src="https://kexfo3w57lq2vprss3tmqmek-wpengine.netdna-ssl.com/wp-content/uploads/2018/06/ranked-choice-voting-740x493.png" alt="Ranked-Choice Example" class="center" />
<br />
<h3>Word From The Creator</h3>
<br />
<p>
    <marquee behavior="scroll" direction="left">
        "I took the idea of Ranked-Choice Voting and how vastly spread the COVID-19 Virus into consideration when creating the site. It would give the ease of voting back in to the hands of the voters in the United States." - Eric Perez
    </marquee>
</p>
<br />

<br />

<br />

